@font-face {
	font-family: "Cuprum";
  src: local("Cuprum");
	src: url("../fonts/cuprum.woff2"),
       url("../fonts/cuprum.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "Cuprum";
  src: local("Cuprumbold");
	src: url("../fonts/cuprumbold.woff2"),
       url("../fonts/cuprumbold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
	font-family: "Cuprum";
  src: local("Cuprum");
	src: url("../fonts/cuprumbolditalic.woff2"),
       url("../fonts/cuprumbolditalic.woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
	font-family: "Cuprum";
  src: local("Cuprum");
	src: url("../fonts/cuprumitalic.woff2"),
       url("../fonts/cuprumitalic.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
	font-family: "PT Sans";
  src: local("ptsans");
	src: url("../fonts/ptsans.woff2"),
       url("../fonts/ptsans.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "PT Sans";
  src: local("ptsansbold");
	src: url("../fonts/ptsansbold.woff2"),
       url("../fonts/ptsansbold.woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-red: #EE3643;
  --button-red-hover: #CA2C37;
  --button-red-active: #BA2732;
  --tabs-control-btn: #32425C;
  --basic-green: #63A63E;
  --basic-grey: #293449;
  --basic-light-grey: #32425C;
  --basic-dark-grey: #1D2739;
  --active: #161D29;
  --basic-light: #C5C5C5;
  --basic-greylight: #A9A9A9;
  --basic-background: #F1F5F7;
  --white: #FFFFFF;
  --basic-black: #000;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --section-header: #F9F5F0;
  --grey-section: #f4f4f4;
}

/* Global */

body {
font-family: "Cuprum", "Arial", sans-serif ;
font-size: 13px;
line-height: 24px;
min-width: 941px;
padding: 0;
margin: 0;
color: var(--basic-black);
background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Button */

.button {
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
line-height: 18px;
}

.button-red {
  background-color: var(--basic-red);
  border: none;
}

.button-red:hover {
  background-color: var(--button-red-hover);
}

.button-red:active {
  background-color: var(--button-red-active);
}

/* Header */

.header-top {
  background-color: var(--basic-grey);
}

.header-search-field {
  background-color: transparent;
  border: none;
}

.header-search-field::placeholder {
  color: var(--white);
}

.header-search-field:focus::placeholder {
  color: var(--basic-black);
}

.header-search-field:focus {
  background-color: var(--white);
  color: var(--basic-black);
}

.action-link,
.header-search-field,
.menu-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--white)
}

/* User-action list */

.action {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action-link:active {
  opacity: 0.5;
  background-color: var(--active);
}

.action-item  .button {
  background-color: var(--basic-green);
}

.action-item .button:hover {
  background-color: var(--success);
}

/* Header background */

.header-grey {
  background-color: var(--basic-background);
}

/* Header middle */

.site-title {
  color: var(--basic-red);

  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.header-info {
  color: var(--basic-light-grey);
  font-size: 14px;
  line-height: 24px;
}

.header-phone {
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.auth-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.auth-list-link {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.auth-list-link:hover {
  color: var(--basic-red);
}

.auth-list-link:active {
  color: var(--basic-light);
}

/* Menu nav */

.menu {
  background-color: var(--basic-light-grey);
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link:hover {
  background-color: var(--basic-grey);
}

.menu-link:active {
  background-color: var(--basic-dark-grey);
  opacity: 0.5;
}

/* Promo */

.promo {
  color: var(--white);
}

.promo-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.promo-slider-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.promo-slider-text {
  font-size: 18px;
  line-height: 24px;
}

.promo-item-button {
  background-color: rgba(255, 255, 255, 0.3);
}

.promo-item-button:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.promo-item-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.promo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo-item {
  background-color: var(--special-yellow);
}

.cart-blue {
  background-color: var(--special-blue);
}

.cart-lilac {
  background-color: var(--special-lilac);
}

.cart-greenlight {
  background-color: var(--special-greenlight);
}

.promo-slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #BBAEA4;
}

/* section header */

.section-header {
  background-color: var(--section-header);
}

.section-title,
.tabs-content-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.section-header .section-title,
.tabs-content-title {
  color: var(--basic-light-grey);
}

/* Catalog */

.catalog-list {
  font-family: "PT sans";
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-title {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  color: var(--basic-light);
}

.new-price {
  color: var(--white);
}

/* manufacture */

.manufacture-list {
  list-style: none;
  padding: 0;
  margin: 0;

}

/* Services */

.services {
  background-color: var(--basic-background);
}

.tabs-contenr-text,
.about-text {
  font-family: "PT Sans";
}

.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.tabs-controls {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-control-btn {
  color: var(--white);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--tabs-control-btn);
  border: none;
}

.tabs-control-btn.active {
  color: var(--tabs-control-btn);
  background-color: var(--white);
}

.tabs-control-btn:not(.active):hover {
  background-color: var(--basic-grey);
}

.map-content {
  background-color: var(--basic-greylight);
}

/* Footer */

.footer,
.footer-menu-link,
.footer-phone {
  color: var(--white);
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-bottom .footer-menu-link,
.footer-info-link {
  color: var(--special-yellowlight);
}

.footer-menu-link:hover,
.footer-info-link:hover {
  text-decoration: underline;
}

.footer-menu-top .footer-menu-link:active {
  color: var(--basic-background);
  opacity: 0.5;
  text-decoration: none;
}

.footer-menu-bottom .footer-menu-link:active {
  color: var(--special-yellowlight);
  opacity: 0.5;
  text-decoration: none;
}

.footer-info-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-top {
  background-color: var(--basic-light-grey);
}

.footer-bottom {
  background-color: var(--basic-grey);
  font-size: 16px;
  line-height: 18px;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Feedback popup */
.feedback,
.basket-modal {
  border-top: 5px solid var(--basic-red);
}

.feedback-form-group {
  font-size: 18px;
  line-height: 24px;
}

.feedback-form-field {
  font: inherit;
}

.grey-section {
  background-color: var(--grey-section);
}

/* Basket */

.basket-modal-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.basket-modal-list {
  list-style: none;
}

.button-basket{
  color: var(--basic-black);
  background-color: var(--white);
}
